.infoContainer {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 52px;
}

.accountContainer {
    display: flex;
    color: white;
    gap: 5px;
}

.accountContainer span {
    font-weight: 300;
}

.infoContainer button {
    height: 45px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 15px;
    border: 0;
    border-radius: 60px;
    cursor: pointer;
    transition: all 0.25s ease-out;
}
.infoContainer button:hover {
    background-color: #000;
    color: var(--primary);
    border: 0;
}
